/* Set the font for the entire page */
body {
    font-family: 'Verdana', sans-serif; 
    font-size: 12px;
}

/* Reset margin and padding */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Heading style */
heading {
    font-weight: bold;
}

/* Make sure home goes to top */
#top {
    position: relative;
    top: -60px;
    visibility: hidden;
}

/* To make sure top goes to top */
:root {
    scroll-padding-top: 60px;
}

nav {
    background-color: #e2c027;
    padding: 5px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: whitesmoke;
    border-radius: 5px;
}

body {
    margin-top: 50px;
}

/* Mobile styling */
.menu-toggle {
    display: none;                 /* Hidden by default */
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    color: black;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .navbar {
        display: none;             /* Hide navbar by default on mobile */
        flex-direction: column;    /* Stack items vertically */
        align-items: center;
        background-color: #e2c027; /* Match navbar background color */
        width: 100%;
    }

    .navbar.active {
        display: flex;             /* Show navbar when active */
    }

    .menu-toggle {
        display: block;            /* Show hamburger icon on mobile */
        margin-left: auto;
        margin-right: 20px;
    }

    nav ul li {
        margin: 10px 0;           /* Space between links */
    }
}


footer {
    font-size: 0.8em;       /* Makes text smaller */
    color: #666;            /* Light grey text */
    text-align: center;     /* Center-aligns the text */
    margin-top: 20px;       /* Adds space above the footer */
    padding: 10px 0;
}

.profile-image {
    width: 100%;                /* Allow the image to scale to container */
    max-width: 250px;           /* Set a maximum width */
    height: auto;               /* Keeps the aspect ratio */
    border-radius: 30%;         /* Makes the image round */
    object-fit: cover;          /* Ensures the image covers the circular area */
}

/* Responsive scaling for smaller screens */
@media (max-width: 768px) {
    .profile-image {
        max-width: 100px;       /* Adjust size for mobile */
    }
}
